@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-50;
}

/* max-width for paragrafs according to web usbaility */
p {
    max-width: 65ch;
    color: #2e2e2e;
  }

  h1,h2,h3 {
    color: #2e2e2e;
  }

@layer components {
    .btn-card {
        @apply text-white font-bold py-2 px-4 rounded;
        margin-bottom: 1rem;
        background-color: #1a8669;
        border-radius: 25px;
        transition: background-color 0.5s ease;
    }

    .btn-card:hover {
        background-color:#0e5c35;
        color: #fff;
        transition: background-color 0.5s ease;
      }

    .card {
        @apply bg-gray-50 shadow-md rounded-lg overflow-hidden;

    
    }
}