@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This is a MVC Project with Identity as its core and then CRUD functionality with a API for managing categories and products.</p>
<p>The data will then be displayed on a front-end page created with Nuxt and Tailwind</p>
<p>This is a fictional company and is created for a school project.</p>
<h2>Contact me</h2>
<p>If you have any questions regarding my project you can contact me <a href="mailto:denniskjellin@hotmail.com">denniskjellin@hotmail.com</a></p>
