html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* card body styling */
.card-body {
  background-color: #f5f5f5;
}

.icon-margin {
  margin-right: 3px;
}

.register-form {
  background-color: #258cfb;

}

.form-bg {
  background-color: #f5f5f5;
}

.btn-logout {
  border: solid rgb(0, 177, 59) 1px;
  background-color: #25fb853a;
}

.nav-item:hover {
  background-color: #1e9e583a;
  border-radius: 5px;
  
}

.card-styled {
  background-color: #f7f7f7;
  border-radius: 10px;

}

.card-styled:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}




  




