html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Custom margin for icons */
.icon-margin {
  margin-right: 3px;
}

/* Form components */
.register-form {
  background-color: #258cfb;

}

.form-bg {
  background-color: #f5f5f5;
}


/* Nav components */
.nav-item:hover {
  background-color: #1e9e583a;
  border-radius: 5px;
}

.btn-logout {
  border: solid rgb(0, 177, 59) 1px;
  background-color: #25fb853a;
}

/* Custom cards */
.card-body {
  background-color: #f5f5f5;
}

.card-styled {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.card-styled:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

/* Images */
.thumb {
  width: 60px;
  height: 60px;
  background-size: cover;
  border-radius: 50%;
}

/* Remove underline fron navlinks in footer*/
a.text-white {
  text-decoration: none;
}

a.text-white:hover {
  text-decoration: underline;
}
/* Add same styling to the logout button in the footer*/
.btn-underline:hover {
  text-decoration: underline;
}




  




